:root {
    
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

